---
layout: default
---
<div class="page_title"><h1>Projects</h1></div>
<div class="project_div">
	<span class= "live_span">Live</span>
	<a href="http://threegoodthings-app.herokuapp.com/"><div class="project_image threegoodthings_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">Rails app where a user records three good things each day, an exercise proven to increase happiness. Implemented Omniauth login feature and Chartkick line graphs using collected data from users over time.</div>
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/kferko/MediaPlayer"><div class="project_image jukebox_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">A Jukebox Javascript object that can take in playlists.</div>
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/stevenrayesky/sass_toolkit"><div class="project_image sass_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">A simple sass toolkit that comes with a responsive grid system.</div>
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/stevenrayesky/pirate_ships_project"><div class="project_image pirate_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">Ruby on Rails pirate game during NYCDA Intensive Course. Argh!</div>
	</div>
</div>
<div class="project_div">
	<span class= "live_span">Live</span>
	<a href="http://sleepy-shelf-87978.herokuapp.com/"><div class="project_image mumblr_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">Micro blog app built on Sinatra framework. All posts are mumble-fied(every other vowel removed).</div>
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/richardmable/vacations_to_mars"><div class="project_image mars_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">Fictional business website booking trips to Mars.</div>
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/stevenrayesky/Caw-Blog"><div class="project_image caw_bg bg_size">
	</div></a>
	<div class="project_description">
		<div class="description_div">Ruby on Rails blogging app that used a database of users, posts, comments, and followers.</div>
	</div>
</div>
